h2 {
  text-align: center;
  font-size: 30px;
  color: #333;
}
h2 p {
  font-size: 16px;
  color: #999;
  margin-top: -5px;
}
.banner .carousel {
  width: 100%;
  position: relative;
}
.banner .carousel ul {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.banner .carousel ul li {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(100%);
}
.banner .carousel ul li img {
  width: 100%;
}
.banner .carousel > ol {
  width: 100%;
  height: 8px;
  position: absolute;
  left: 0;
  bottom: 15px;
  text-align: center;
  font-size: 0;
}
.banner .carousel > ol > li {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #7a8187;
  margin-right: 10px;
}
.banner .carousel > ol > li.active {
  background-color: #fff;
}
.banner .carousel > a {
  position: absolute;
  color: #fff;
  font-size: 60px;
  top: 50%;
  transform: translateY(-50%);
  font-family: '宋体';
}
.banner .carousel > a:first-of-type {
  left: 18.5%;
}
.banner .carousel > a:last-child {
  right: 18.5%;
}
@media (max-width: 640px) {
  .banner .carousel a {
    display: none;
  }
}
.introduction {
  background-color: #f5f6f9;
  padding-bottom: 50px;
}
.introduction div {
  box-sizing: border-box;
}
.introduction .quicknav {
  border: 1px solid #ddd;
  border-top: none;
  background-color: #fff;
  overflow: hidden;
  padding: 25px 0;
}
.introduction .quicknav > div {
  text-align: center;
  float: left;
  min-height: 60px;
  width: 33.3%;
  border-right: 1px solid #ddd;
}
.introduction .quicknav > div > img {
  margin-top: -50px;
}
.introduction .quicknav > div > div {
  display: inline-block;
  height: 60px;
  line-height: 30px;
}
.introduction .quicknav > div > div p {
  color: #999;
  font-size: 14px;
  overflow: hidden;
  display: -webkit-box;
  word-break: break-all;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.introduction .quicknav > div > div p:nth-of-type(1) {
  color: #333;
  font-size: 20px;
  font-weight: 600;
}
.introduction .quicknav > div:last-of-type {
  border-right: none;
}
.introduction .infolist {
  margin-top: 50px;
}
.introduction .infolist > p {
  height: 36px;
  border-bottom: 1px solid #0f73b1;
  margin-bottom: 30px;
}
.introduction .infolist > p > span {
  float: left;
  width: 120px;
  text-align: center;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  color: #666;
  transition: all .5s;
}
.introduction .infolist > p > span:hover {
  background-color: #0f73b1;
}
.introduction .infolist > p > span:hover a {
  color: #fff;
}
.introduction .infolist > p span.current {
  background-color: #0f73b1;
}
.introduction .infolist > p span.current a {
  color: #fff;
}
.introduction .infolist > p > a {
  float: right;
  line-height: 36px;
  color: #0f73b1;
}
.introduction .infolist div {
  overflow-x: auto;
}
.introduction .infolist div ul {
  width: 1200px;
  display: none;
  *zoom: 1;
}
.introduction .infolist div ul:after {
  content: " ";
  clear: both;
  display: table;
}
.introduction .infolist div ul li {
  position: relative;
  box-sizing: border-box;
  border: 1px solid #ddd;
  float: left;
  width: 18.66%;
  margin: 0 1.675% 10px 0;
  cursor: pointer;
}
.introduction .infolist div ul li img {
  width: 100%;
  height: 149px;
}
.introduction .infolist div ul li > div {
  padding: 20px 15px;
  height: 150px;
  position: relative;
}
.introduction .infolist div ul li > div h3 {
  color: #333;
  font-size: 16px;
  line-height: 26px;
  transition: all .5s;
  overflow: hidden;
  display: -webkit-box;
  word-break: break-all;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.introduction .infolist div ul li > div p {
  text-align: justify;
  box-sizing: border-box;
  position: absolute;
  padding: 0 15px;
  line-height: 24px;
  color: #999;
  left: 0;
  bottom: 20px;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  word-break: break-all;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.introduction .infolist div ul li > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.introduction .infolist div ul li:last-of-type {
  margin-right: 0;
}
.introduction .infolist div ul li:hover {
  border: 1px solid transparent;
  box-shadow: 0 0 3px 2px #ddd;
}
.introduction .infolist div ul li:hover > div h3 {
  color: #0f73b1;
}
.introduction .infolist div ul.current {
  display: block;
}
@media (max-width: 1200px) {
  .introduction .infolist {
    padding: 0 10px;
  }
}
@media (max-width: 640px) {
  .introduction .quicknav {
    padding: 20px 0;
  }
  .introduction .quicknav > div img {
    margin-top: 0;
  }
  .introduction .quicknav > div > div {
    display: block;
  }
  .introduction .quicknav > div > div p {
    overflow: hidden;
    display: -webkit-box;
    word-break: break-all;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
.course-center {
  box-sizing: border-box;
  padding: 60px 0 20px;
}
.course-center ul li {
  border: 1px solid #ddd;
  margin-top: 30px;
  box-sizing: border-box;
  padding: 20px;
  overflow: hidden;
  position: relative;
}
.course-center ul li .coursepic {
  float: left;
  width: 480px;
  height: 320px;
  overflow: hidden;
}
.course-center ul li .coursepic img {
  max-width: 100%;
}
.course-center ul li .content {
  margin-left: 510px;
}
.course-center ul li .content h3 {
  padding-right: 20px;
  font-size: 26px;
  line-height: 30px;
  height: 60px;
  overflow: hidden;
  display: -webkit-box;
  word-break: break-all;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.course-center ul li .content h3 a {
  color: #333;
}
.course-center ul li .content p {
  padding-right: 20px;
  color: #666;
  font-size: 14px;
  line-height: 28px;
  margin: 10px 0 25px;
  overflow: hidden;
  display: -webkit-box;
  word-break: break-all;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.course-center ul li .content .price span {
  display: inline-block;
  width: 7em;
}
.course-center ul li .content .price span:first-of-type {
  color: #ff3701;
}
.course-center ul li .content .price span:first-of-type b {
  font-size: 28px;
  font-weight: 400;
  text-shadow: 0.2px 0.2px #ff3701;
}
.course-center ul li .content .price span:last-of-type {
  color: #999;
  font-size: 14px;
}
.course-center ul li .content .price span:last-of-type em {
  text-decoration: line-through;
}
.course-center ul li .content dl {
  padding: 20px 0 15px 70px;
  border-top: 1px dashed #ddd;
  border-bottom: 1px dashed #ddd;
  overflow: hidden;
  position: relative;
}
.course-center ul li .content dl dd,
.course-center ul li .content dl dt {
  box-sizing: border-box;
  height: 32px;
  line-height: 32px;
}
.course-center ul li .content dl dt {
  position: absolute;
  width: 5em;
  top: 20px;
  left: 0;
}
.course-center ul li .content dl dd {
  float: left;
  position: relative;
  background-color: #f3f6f7;
  padding: 0 10px;
  border: 1px solid #cdced1;
  margin-left: 20px;
  margin-bottom: 5px;
}
.course-center ul li .content dl dd:before {
  content: '';
  position: absolute;
  width: 16px;
  height: 32px;
  top: -1px;
  left: -14px;
  background-image: url("../../images/index/tag-left_03.png");
}
.course-center ul li .content .btns {
  position: absolute;
  bottom: 20px;
}
.course-center ul li .content .btns a {
  display: inline-block;
  width: 180px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #0f73b1;
  border: 1px solid #0f73b1;
  box-sizing: border-box;
  background-color: #fff;
  font-size: 18px;
}
.course-center ul li .content .btns a:first-of-type {
  margin-right: 25px;
}
.course-center ul li .content .btns a:hover {
  background-color: #0f73b1;
  color: #fff;
}
.course-center ul li:hover {
  background-color: #f5f6f9;
}
.course-center ul li:hover .content h3 a {
  color: #0f73b1;
}
.course-center a.seemore {
  display: block;
  width: 60%;
  max-width: 300px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #edeff4;
  font-size: 18px;
  margin: 40px auto;
  color: #999;
}
.course-center a.seemore:hover {
  color: #0f73b1;
}
.lncenter {
  padding: 60px 0;
  background: url("../../images/index/lcbg.jpg");
}
.lncenter ul {
  font-size: 0;
  margin-top: 40px;
}
.lncenter ul li {
  display: inline-block;
  width: 18.75%;
  height: 250px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-sizing: border-box;
  margin: 0 1.5625% 10px 0;
  text-align: center;
  padding-top: 40px;
  vertical-align: bottom;
}
.lncenter ul li h3 {
  font-size: 20px;
  color: #333;
  margin: 15px 0;
}
.lncenter ul li p {
  font-size: 14px;
  color: #999;
  line-height: 22px;
  overflow: hidden;
  display: -webkit-box;
  word-break: break-all;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.lncenter ul li:last-of-type {
  margin-right: 0;
}
.dev-center {
  background: url("../../images/index/devcenter.jpg") no-repeat center center;
  background-size: cover;
  padding: 60px 0;
}
.dev-center h2 {
  color: #fff;
}
.dev-center h2 p {
  color: rgba(255, 255, 255, 0.8);
}
.dev-center ul li {
  text-align: center;
  color: #fff;
}
.dev-center ul li .teacherpic {
  width: 270px;
  height: 270px;
  border: 1px solid #fff;
  border-radius: 50%;
  position: relative;
  margin: 0 auto;
}
.dev-center ul li .teacherpic img {
  position: absolute;
  width: 96%;
  max-width: 262px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.dev-center ul li h3 {
  font-size: 24px;
  margin: 20px 0;
}
.dev-center ul li p {
  max-width: 315px;
  width: 90%;
  margin: 0 auto;
  line-height: 26px;
  opacity: .8;
  overflow: hidden;
  display: -webkit-box;
  word-break: break-all;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
.dev-center ul li p.expend {
  overflow: hidden;
  display: -webkit-box;
  word-break: break-all;
  -webkit-line-clamp: 20;
  -webkit-box-orient: vertical;
}
.dev-center ul li a {
  display: block;
  color: #22a5f1;
  text-decoration: underline;
}
.dev-center ol {
  width: 100%;
  height: 8px;
  position: absolute;
  left: 0;
  bottom: -15px;
  text-align: center;
  font-size: 0;
}
.dev-center ol > li {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #7a8187;
  margin-right: 10px;
}
.dev-center ol > li.active {
  background-color: #fff;
}
.dev-center.pc ul {
  *zoom: 1;
  margin-top: 40px;
}
.dev-center.pc ul:after {
  content: " ";
  clear: both;
  display: table;
}
.dev-center.pc ul li {
  float: left;
  width: 33.3%;
}
.dev-center.mobile {
  padding: 40px 0;
}
.dev-center.mobile .container {
  width: 100%;
}
.dev-center.mobile .container ul {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.dev-center.mobile .container ul li {
  width: 100%;
  position: absolute;
  min-height: 515px;
  left: 0;
  top: 0;
  transform: translateX(100%);
}
.dev-center.mobile .container ul li .teacherpic {
  margin-top: 25px;
  width: 190px;
  height: 190px;
}
.dev-center.mobile .container ul li h3 {
  margin: 10px 0;
}
.dev-center.mobile .container ul li p {
  max-width: 90%;
  line-height: 24px;
  text-align: justify;
  margin: 0 auto;
}
.blogroll {
  padding: 60px 0;
}
.blogroll p {
  line-height: 40px;
}
.blogroll p a {
  font-size: 16px;
  padding: 0 8px;
}
@media (max-width: 1200px) {
  .course-center ul li .content h3 {
    font-size: 24px;
    line-height: 28px;
    height: 56px;
  }
  .course-center ul li .content p {
    margin: 10px 0;
  }
  .course-center ul li .content dl {
    padding: 15px 0 10px 70px;
  }
  .lncenter ul {
    padding: 0 10px;
  }
  .dev-center.pc ul {
    padding: 0 10px;
  }
  .blogroll p {
    padding: 0 10px;
  }
}
@media (max-width: 960px) {
  .course-center ul li .coursepic {
    width: 300px;
    height: 200px;
  }
  .course-center ul li .content {
    margin-left: 330px;
  }
  .course-center ul li .content h3 {
    font-size: 20px;
    line-height: 24px;
    height: 48px;
  }
  .course-center ul li .content p {
    margin: 10px 0;
    line-height: 20px;
  }
  .course-center ul li .content dl {
    display: none;
  }
  .course-center ul li .content .btns a {
    width: 120px;
    font-size: 14px;
  }
  .lncenter ul li p {
    font-size: 12px;
  }
  .dev-center.pc ul li .teacherpic {
    width: 180px;
    height: 180px;
  }
  .dev-center.pc ul li h3 {
    margin: 15px 0;
  }
}
@media (max-width: 640px) {
  .course-center {
    padding: 40px 0 0px;
  }
  .course-center ul li {
    margin-top: 20px;
    padding: 0 20px;
    border: none;
  }
  .course-center ul li .coursepic {
    width: 240px;
    height: 160px;
  }
  .course-center ul li .content {
    margin-left: 260px;
  }
  .course-center ul li .content h3 {
    padding-right: 0;
  }
  .course-center ul li .content p {
    overflow: hidden;
    display: -webkit-box;
    word-break: break-all;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    padding-right: 0;
  }
  .course-center ul li .content .price span {
    width: 6em;
  }
  .course-center ul li .content .price span:first-of-type b {
    font-size: 20px;
    font-weight: 400;
    text-shadow: 0.2px 0.2px #ff3701;
  }
  .course-center ul li .content .btns {
    display: none;
  }
  .course-center a.seemore {
    height: 40px;
    line-height: 40px;
    margin: 20px auto;
  }
  .lncenter {
    padding: 30px 0;
  }
  .lncenter ul li {
    padding-top: 20px;
    width: 31.3%;
    margin: 0 3.05% 10px 0;
    height: 230px;
  }
  .lncenter ul li h3 {
    margin: 10px 0;
  }
  .lncenter ul li p {
    padding: 0 5px;
  }
  .lncenter ul li:nth-of-type(3) {
    margin-right: 0;
  }
  .dev-center.pc {
    padding: 30px 0;
  }
  .blogroll {
    padding: 30px 0;
  }
  .blogroll p {
    line-height: 24px;
  }
  .blogroll p a {
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  .course-center ul li .coursepic {
    width: 180px;
    height: 120px;
  }
  .course-center ul li .content {
    margin-left: 190px;
  }
  .course-center ul li .content h3 {
    font-size: 16px;
    line-height: 20px;
    height: 40px;
  }
  .course-center ul li .content p {
    overflow: hidden;
    display: -webkit-box;
    word-break: break-all;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 5px 0;
  }
}
@media (max-width: 420px) {
  .course-center ul li {
    padding: 0 10px;
  }
  .course-center ul li .coursepic {
    width: 150px;
    height: 100px;
  }
  .course-center ul li .content {
    margin-left: 160px;
  }
  .course-center ul li .content h3 {
    font-size: 14px;
    line-height: 18px;
    height: 36px;
    text-shadow: .1px .1px #333;
  }
  .course-center ul li .content p {
    overflow: hidden;
    display: -webkit-box;
    word-break: break-all;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 12px;
    margin: 0;
    color: #999;
  }
  .course-center ul li .content .price span {
    width: auto;
  }
  .course-center ul li .content .price span:last-of-type {
    font-size: 12px;
  }
  .lncenter ul li {
    width: 48%;
    margin: 0 4% 10px 0;
  }
  .lncenter ul li p {
    padding: 0 5px;
  }
  .lncenter ul li:nth-of-type(3) {
    margin-right: 4%;
  }
  .lncenter ul li:nth-of-type(2n) {
    margin-right: 0;
  }
  .dev-center.mobile {
    padding: 30px 0;
  }
  .dev-center.mobile .container ul li {
    min-height: 480px;
  }
  .dev-center.mobile .container ul li .teacherpic {
    margin-top: 20px;
    width: 170px;
    height: 170px;
  }
  .dev-center.mobile .container ul li p {
    max-width: 90%;
    line-height: 20px;
    font-size: 12px;
  }
}
